/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header {
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  width: 80%;
  background: black;
  box-shadow: 0 0 10px rgba(240, 233, 233, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 40px;
  gap: 20px;
}

/* Movie List */
.movie-list {
  width: 30%;
  background: #343a40;
  color: white;
  padding: 20px;
  overflow-y: auto;
  height: 500px;
 margin-top: 100px;
}

.movie-list ul {
  list-style-type: none;
  padding: 0;
}

.movie-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #495057;
}

.movie-list li:hover {
  background: #495057;
}

.sold-out {
  color: red;
  text-decoration: line-through;
}

/* Movie Details */
.movie-details {
  width: 70%;
  padding: 20px;
  margin-top: 100px;
}

.movie-details img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-info {
  margin-top: 20px;
}

/* Buttons */
button {
  background: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background: #218838;
}

button.sold-out {
  background: red;
  cursor: not-allowed;
}
